<mat-tab-group>
    <mat-tab label="Edit">
        <mat-form-field appearance="fill">
            <mat-label>{{ textAreaPlaceholder }}</mat-label>
            <textarea 
                matInput
                [(ngModel)]="markdownControlState.value"
                (ngModelChange)="inputTextArea()"
                placeholder="{{ textAreaPlaceholder }}"></textarea>
        </mat-form-field>
    </mat-tab>
    <mat-tab label="Preview">
        <markdown [data]="markdownControlState.value" ngPreserveWhitespaces></markdown>
    </mat-tab>
</mat-tab-group>