<form [formGroup]="form" 
      (submit)="onSave()">
    <mat-form-field appearance="outline">
        <mat-label appAddRequired>Name</mat-label>
        <input matInput formControlName="name" required placeholder="Ex.: Cityplex">
        <mat-error app-error-message [control]="form.get('name')!"></mat-error>
    </mat-form-field>

    <h4>Select the cinema location in the map</h4>
    <div>
        <app-map [model]="initialCoordinates"></app-map>
    </div>

    <div>
        <button 
            mat-flat-button 
            color="primary" 
            [disabled]="form.invalid">Save</button>

        <a mat-stroked-button class="button-form" routerLink="/cinemas">Cancel</a>
    </div>
</form>