<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="">
            <mat-icon>local_movies</mat-icon>Angular Films
        </a>
    </span>
    <div>
        <a mat-button routerLink="films">
            <mat-icon>search</mat-icon>Films search
        </a>        
    </div>
    <div>
        <a mat-button routerLink="genders">Genders</a>
    </div>
    <div>
        <a mat-button routerLink="actors">Actors</a>
    </div>
    <div>
        <a mat-button routerLink="cinemas">Cinemas</a>
    </div>
    <div>
        <a mat-button routerLink="films/create">Create Film</a>
    </div>
</mat-toolbar>