<app-generic-list [list]="films">
    <ng-container content>
        <div class="row">
            <div *ngFor="let film of films; let index = index" class="film-container">
                <a>
                    <img [src]="film.poster" alt="Poster">
                </a>
                <p>
                    <a>{{ film.title }}</a>
                </p>
                <div>
                    <a mat-flat-button color="primary" [routerLink]="'/films/edit/' + index">Edit</a>
                    <button mat-flat-button color="warn" type="button">Delete</button>
                </div>
            </div>
        </div>
    </ng-container>
</app-generic-list>
