<h2>Genders</h2>

<button mat-flat-button color="primary" routerLink="/genders/create">Create</button>

<app-generic-list [list]="genders">
    <ng-container content>
        <table
            #table
            mat-table
            [dataSource]="genders"
            class="mat-elevation-z8">
        
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>  
            
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <a mat-flat-button color="primary" routerLink="/genders/edit/{{ element.id }}">Edit</a>
                    <button mat-flat-button color="warn" type="button">Delete</button>
                </td>
            </ng-container>            
        </table>
    </ng-container>
</app-generic-list>